@charset "UTF-8";

#espaço {
    position: relative;
    background-image: url(imagens/espaco.jpg);
    height: 98vh;
    width: 98vw;
    margin: auto;
    background-size: 100% 100%;
}

#astronauta {
    position: absolute;
    background-image: url(imagens/astronauta.png);
    height: 520px;
    width: 520px;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}