body {
    width: 100%;
    background-image: radial-gradient(rgba(184, 182, 182, 0.199),rgba(184, 182, 182, 0.596));
}

.hide {
    display: none;
}

#logo-title {
    font-size: 1rem;
}


#navbar-div {
    width: 70%;
    margin: auto;
}

#mynavbar {
    margin-left: 30px;
}

.navbar-nav {
    width: 50%;
}

.navbar-navlink {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}

.dropdown-menu {
    background-color: rgb(33, 37, 41);
    border: none;
}

#register-desktop {
    padding-right: 15px;
    color: white;
    text-decoration: none;
}

#register-desktop span {
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
}

#register-desktop span:hover {
    border-bottom: 2px solid #0B5ED7;
    padding-bottom: 0.15rem;
}

#register-mobile {
    padding-right: 15px;
    color: white;
    text-decoration: none;
    display: none;
}

#register-mobile span {
    border-bottom: 1px solid white;
    padding-bottom: 0.2rem;
}

#register-mobile span:hover {
    border-bottom: 2px solid #0B5ED7;
    padding-bottom: 0.15rem;
}

#login-mobile {
    display: none;
}

.dropdown-item {
    color: #C7C8C9;
}



.dropdown-toggle::after {
    content: none;
}


#presentation-bg {
    background-image: radial-gradient(rgba(184, 182, 182, 0.534),rgb(184, 182, 182));
    height: 450px;
}



#presentation {
    width: 70%;
    margin: auto;
}

#presentation {
    padding-top: 30px;
}


#presentation-1 {
    display: flex;
    align-items: center;
}

#presentation-1 > h1 {
    height: min-content;
}

#content {
    width: 70%;
    margin: 10px auto;
    box-shadow: 0px 0px 8px 5px #88888880;
    background-color: white;
}

.presentation-items {
    margin-top: 30px;
    font-size: 1.2rem;
}

.presentation-items::marker {
    content: '✔️  ';   
}



#content h2 {
    padding-top: 45px;
    text-align: center;
}

#why-invest-reasons {
    width: 85%;
    margin:40px auto;
    padding-bottom: 25px;
}

#why-invest-reasons p {
    font-size: 1.1rem;
}

#why-invest-reasons h3 {
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 15px;
    padding-top: 20px;
}


#why-invest-reasons p {
    text-align: center;
    padding: 0px 10px;    
}

#retirement {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/retirement-og.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


#retirement-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#retirement-text h2 {
    margin-bottom: 20px;
    font-size: 2.2rem;
}

#investment-advisory {
    background-color: #bab8b852;
}

#investment-advisory h2 {
    font-size: 2rem;
    width: 85%;
    margin: auto;
}

#sub-investment-advisory {
    margin: 60px auto;
    width: 85%;
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

#sub-investment-advisory div:nth-child(1) h3 {
    margin-bottom: 35px;
}

#sub-investment-advisory div:nth-child(2) h3 {
    margin-bottom: 0;
}

#wealth-management-sub {
    font-size: 0.7rem;
}

#investment-advisory h3 {
    font-size: 1.6rem;
    text-align: center;
}

#comparison-tables h2 {
    padding-top: 0;
    margin-bottom: 40px;
    width: 85%;
    margin: 40px auto;
}

#comparison-tabs {
    width: 85%;
    margin: auto;
}

.tab-nav-link {
    text-align: center;
    font-size: 1.35rem;
    color: rgba(0, 0, 0, 0.836);
    height: 100%;
}

.tab-nav-item {
    padding: 0;
    background-color: rgba(186, 184, 184, 0.178);
    border: 1px solid rgba(0, 0, 0, 0.13);
}

#cp-table {
    width: 100%;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.322);
}

#cp-table td {
    text-align: center;
    padding: 15px;
}

.table-benefits {
    padding: 15px;
    border-top-width: 0.5px;
    border-style: dotted;
    border-color: rgba(128, 128, 128, 0.322);
    font-weight: 600;
}

.table-companies {
    text-align: center;
    padding: 15px;
    border-top-width: 0.5px;
    border-left-width: 0.5px;
    border-style: dotted;
    border-color: rgba(128, 128, 128, 0.322);
}

#cp-table td {
    border-top-width: 0.5px;
    border-style: dotted;
    border-color: rgba(128, 128, 128, 0.322);
    border-left-width: 0.5px;
    height: 50px;
}

.table-highlight {
    background-color: #2B6B1E;
    color: white;
    border-color: white !important;
    padding: 30px;
    font-weight: 700;
}

.table-highlight p {
    font-weight: 600;
    padding-top: 10px;
}

#certificates {
    width: 85%;
    margin: 120px auto;
    margin-bottom: 0;
}

.certificate-div p{
    text-align: center;
    width: 85%;
    font-size: 1.2rem;
}


.img-certificate {
    border-bottom: 2px solid rgba(128, 128, 128, 0.397);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#suggest-register {
    background-color: #E9E8E8;
}

#suggest-register-info {
    width: 85%;
    margin: auto;
}

#suggest-register-info p {
    padding-top: 15px;
    font-size: 1.1rem;
    text-align: center;
}

#suggest-register-btn-div {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

#stock-charts {
    width: 85%;
    margin: 0px auto;
    padding-bottom: 45px;
}

#stock-charts p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.stock-chart-container {
    height: 370px;
}

#insights-intro {
    background-color: #E9E8E8;
    padding-top: 55px;
    padding-bottom: 55px;
}

#insights-intro-sub {
    width: 85%;
    margin: auto;
}

#insights-articles {
    border-right: 1px solid rgba(128, 128, 128, 0.281);
    padding-right: 30px;
}

#insights-articles h2 {
    padding-top: 0px;
    font-size: 1.65rem;
    margin-bottom: 30px;
    text-align: start;
}

.insight-article {
    padding-bottom: 15px;
}

.insight-article h3 {
    font-size: 1.15rem;
}

.insight-article a {
    text-decoration: none;
    color: #014fc5;
}

.insight-article a:hover {
    color: #014fc598;
}

.insight-article p {
    font-size: 1.1rem;
}

#see-all-articles {
    margin-top: 40px;
}

#see-all-articles a{
    font-size: 1.2rem;
    text-decoration: none;
}

#register-form {
    padding-left: 40px;
}

#register-form h2 {
    padding-top: 0px;
    font-size: 1.5rem;
    text-align: start;
}

#register-form p {
    font-size: 1.07rem;
}

#fname, #lname, #email {
    width: 100%;
    margin-bottom: 20px;
}

#post-register-submit {
    margin-top: 60px;
}

#post-register-submit h3 {
    font-size: 1.1rem;
    color: #509F00;
}

#post-register-submit h3::before {
    content: "✅  ";
}

#contact {
    width: 85%;
    margin: auto;
    padding-bottom: 70px;
}

#contact-sub p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
    width: 60%;
    margin: auto;
}

#contact-ways {
    margin-top: 60px;
}

#contact-way-1 p:nth-child(1) {
    margin-bottom: 0px;
}

#contact-way-1 p:nth-child(3) {
    padding-top: 0px;
}

.contact-img-container {
    display: flex;
    justify-content: center;
}

#contact-way-2 a, #contact-way-3 a {
    text-decoration: none;
    color: #014fc5;
}

#contact-way-2 a:hover, #contact-way-3 a:hover {
    color: #014fc598;
}

footer {
    background-color: #212529;
}

@media (max-width: 1200px) {
    .certificate-img-div {
        display: flex;
        justify-content: center;
    }

    .img-certificate {
        margin-bottom: 20px;
    }

    .certificate-div p{
        width:35%;
        margin: auto;
        margin-bottom: 75px;
    }
}

@media (max-width: 992px) {
    #login-desktop {
        display: none;
    }


    #login-mobile {
        display: inline;
    }

    #div-register-login {
        margin-left: auto;
        margin-right: 15px;
    }

    #register-desktop {
        display: none;
    }

    #register-mobile {
        display: inline;
        margin-left: auto;
        font-size: 0.8rem;
    }

    #mynavbar {
        margin-left: 0;
    }

    .dropdown-menu {
        background-color: rgba(46, 88, 129, 0.356);
        border: none;
    }
    

    #insights-articles {
        border-right: none;
        padding-right: 0;
    }

    #register-form {
        margin-top: 40px;
        padding-left: 0px;
        border-top: 1px solid rgba(128, 128, 128, 0.281);
        padding-top: 25px;
    }
}

@media (min-width: 576px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .navbar-navlink:hover {
        padding-bottom: 0.15rem;
        border-bottom: 2px solid white;
    }
}

@media (max-width: 918px) {
    #presentation-bg {
        height: 620px
    }

    .div-table {
        overflow-x: auto;
    }
}



@media (max-width: 576px) {
    #presentation-1 > h1 {
        margin-bottom: 20px;
        font-size: 2.2rem;
    }
    
    #navbar-div {
        width: 100%;
    }


    #mynavbar {
        margin-left: 0;
    }

    .dropdown-menu {
        background-color: rgba(46, 88, 129, 0.356);
        border: none;
    }

    #presentation-bg {
        background-image: radial-gradient(rgba(184, 182, 182, 0.534),rgb(184, 182, 182));
        height: 700px;
    }

    #content {
        width: 100%;
        margin: 0px;
    }

    #why-invest {
        width: 100%;
    }

    #retirement {
        height: 500px;
    }

    #retirement-text {
        width: 90%;
    }

    #retirement-text h2 {
        margin-bottom: 20px;
        font-size: 1.8rem;
    }

    #investment-advisory h2 {
        font-size: 1.7rem;
    }

    #sub-investment-advisory div:nth-child(1) h3 {
        margin-bottom: 25px;
    }

    #sub-investment-advisory div:nth-child(2) h3 {
        margin-top: 30px;
    }

    .tab-nav-link {
        font-size: 0.85rem;
        height: 100%;
    }

    #cp-table td {
        font-size: 0.85rem;
    }

    .table-companies {
        font-size: 0.85rem;
    }

    .table-benefits {
        font-size: 0.85rem;
    }
    
    #contact {
        padding-bottom: 10px;
    }
    
    #contact-ways > div {
        padding-bottom: 45px;
    }

    #contact-sub p {
        width: 100%;
    }
}

