.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formControl label {
    margin-bottom: 10px;
    font-weight: bold;
}

.formControl input {
    padding: 12px;
    border-radius: 0;
    border: none;
}

.formControl input::placeholder {
    color: #7b7b7b;
}