@charset "UTF-8";


#cabecalho {
    height: 300px;
    background-color: cadetblue;
    margin-top: 30px;
}

#cabecalho h3 {
    background-color: blueviolet;
    margin-top: 10px;
}

#corpo {
    background-color: brown;
}

#corpo h3 {
    margin-top: 0px;
}